@charset "UTF-8";

body {
    background: linear-gradient(50deg, rgba(4,64,64,1) 20%, rgba(140, 31, 40, 0.795) 100%);
    background-attachment: fixed;
    max-width: 300px;
}

#loginForm, h1 {
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
}

.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
