#nav {
    background-color: #591C21;
}

#nav i {
    background-color: #591C21;
    color: white;
}

#button {
    text-align: center;
}

p {
    color: black;
    font-size: 1em;
    background-color: transparent;
}

.pfp {
    width: 70px;
    height: 70px;
}
