@charset "UTF-8";

/* Colors
Color1= #591C21
Color2= #044040
 */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    background-color: #EFF1F3;
    list-style-type: none;
}

button {
    background: transparent;
    background-color: #044040;
    color: white;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    letter-spacing: 0.15em;
    line-height: 2em;
    padding: 0 0.75em;
    margin-bottom: 0.65em;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
}

button:hover {
    background-color: #0440408d;
}

i {
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    color: white;
}

li, a {
    text-decoration: none;
    color: black;
    background-color: transparent;
    list-style-type: none;
}

.offcanvas-body, .offcanvas-title, #offcanvas-header {
    text-decoration: none;
    color: white;
    background-color: #591C21;
    list-style-type: none;
}

nav {
    color: white;
    background-color: #591C21;
    height: 3em;
}

.fs-5, #genres, .overflow-y-scroll, #top10 {
    color: white;
    background-color: #591C21;
    cursor: pointer;
    margin: 0;
}

li.list-group-item.active {
    color: white;
    background-color: #591C21;
    border: 0;
    cursor: pointer;
}

.btn {
    background-color: #591C21;
    border: 0;
    height: 1em;
}

#menuOptions {
    text-decoration: none;
    list-style: none;
    font-size: 1em;
    background-color: #591C21;
    color: white;
    border: 0;
}

footer, .list-group-horizontal-sm.list-group-flush {
    padding-top: 5px;
    padding-left: 5px;
    background: linear-gradient(50deg, rgba(4,64,64,1) 20%, rgba(140, 31, 40, 0.795) 100%);
    background-attachment: fixed;
    color: white;
}

a, .p-2  {
    color: white;
    background-color: transparent;
    text-align: center;
}
